:root {
	--max-content-width: 72.5rem;

	--clr-p-500-solid: hsl(263, 55%, 52%);
	--clr-p-500-alpha: 263, 55%, 52%;
	--clr-p-700-solid: hsl(217, 19%, 35%);
	--clr-p-700-alpha: 217, 19%, 35%;
	--clr-p-900-solid: hsl(219, 29%, 14%);
	--clr-p-900-alpha: 219, 29%, 14%;
	--clr-p-100-solid: hsl(0, 0%, 100%);
	--clr-p-100-alpha: 0, 0%, 100%;

	--clr-n-200-solid: hsl(0, 0%, 81%);
	--clr-n-100-solid: hsl(210, 46%, 95%);
}
